.block-webform {
  text-align: left;
  background: #fafafa;
  padding: 3em 0;
}

.block-webform .uw-section--inner {
  background: #f1f1f1;
  padding: 1.5em 3em;
}

.block-webform h2 {
  text-align: center;
}

.block-webform select {
  width: 100%;
  padding: 0.46667rem;
  outline: none;
  background: #fff url("../images/arrow-down-bk.png") no-repeat right center;
  -moz-appearance: none;
  -webkit-appearance: none;
  text-indent: 0.01px;
  text-overflow: "";
  border: 1px solid #d8d8d8;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06) inset;
}

.block-webform input[type="submit"] {
  border: 2px solid #4e4e4e;
}
